# Docker related
.dockerignore
Dockerfile

# Project related
.git/
.gitignore
Todo.md
config/
data/jsonfiles/lists/*
data/jsonfiles/replies/*

# Python related
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
coverage.xml
*,cover
*.log
