*.pyc
*.swp
*.log

.cache
.config

data/logs/
data/jsonfiles/lists/
data/jsonfiles/replies/

# Virtualenv files
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
